/* 
    Created on : 11/02/2017, 11:14:50 AM
    Author     : maph65
*/

/****************************
 **
 **   Fonts import
 **
 ****************************/
@font-face {
    font-family: 'kiabold';
    src: url('../fonts/kia_bold-webfont.woff2') format('woff2'),
        url('../fonts/kia_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kialight';
    src: url('../fonts/kia_light-webfont.woff2') format('woff2'),
        url('../fonts/kia_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kiamedium';
    src: url('../fonts/kia_medium-webfont.woff2') format('woff2'),
        url('../fonts/kia_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/****************************
 **
 **   0. General Style
 **
 ****************************/
html,body{
    margin:0;
    padding:0;
    font-family: 'kialight',sans-serif;
    color:#FFF;
    font-size:18px;
    background-color: #000;
}
h1{
    font-size: 46px;
}
h2 {
    font-size: 36px;
}
h1, h2{
    color: #fff;
    padding: 5px 0px;
    margin: 6px 0px;
}
h1, h2, h3, h4, h5, h6, h7{
    font-family: 'kiamedium',sans-serif;
}
h1 span {
    display: inline-block;
    position: relative;
    border-bottom: 2px solid #FFF;
    border-top: 2px solid #FFF;
}
h1 span:before, h1 span:after {
    content: "";
    height: 54px;
    width: 50px;
    position: absolute;
}
h1 span:before {
    left: -50px;
    border-bottom: 2px solid #FFF;
}
h1 span:after {
    border-top: 2px solid #FFF;
    top: -2px;
}
p{
    padding: 5px;
    margin: 2px;
}
img{
    max-width:90%;
    display:block;
}
.section{
    position:fixed;
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    height: 100vh;
    display: none;
}
.section-container{
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    display: table-cell;
    vertical-align: middle;
}

.principal-text {
    text-align: center;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 70px;
}
.btn {
    display: inline-block;
    margin: 0 60px;
    color: #FFF;
    position:relative;
    cursor: pointer;
}
.btn p {
    border: 1px solid #cf0031;
    border-radius: 6px;
    padding: 8px 32px;
    background-color: #cf0031;
    text-transform: uppercase;
}
.btn p:hover{
    color: #fff;
    text-shadow: 0 0 20px #fff;
}
img.pleca-kia {
    position: absolute;
    top: 2vh;
    left: 1%;
    z-index:999;
}
.footer-container {
    z-index: 9999;
    position: absolute;
    bottom: 2px;
    left: 2px;
    font-size: 10px;
    font-family: 'kialight',sans-serif;
    color: #AAA;
}
/****************************
 **
 **   1. Player Style
 **
 ****************************/
.player-kia {
    width: 100%;
    height: 100vh;
}
.controlls {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    padding: 20px 0;
    text-align: right;
}
.progreso-total {
    display: inline-block;
    float: left;
}
.player-pause{
    display: inline-blok;
}
.img-video-progreso {
    max-height: 34px;
    margin-left: 20px;
    max-width:100%;
}
.paused-cover{
    width: 100%;
    height: 100vh;
    z-index: 4;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
.paused-container {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    height: 80vh;
    margin: 0 auto;
}
.paused-video-progreso{
    max-height:80px;
    max-width:100%;
    margin: 60px auto;
}
.paused-container img.video-play-btn {
    margin: 0 auto;
}
/****************************
 **
 **   2. Home Style
 **
 ****************************/
#home{
    background-image: url(../media/home_back.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
#logo-nuevo-rio{
    margin: 0 auto;
    position: relative;
}
#home h1 {
    font-family: 'kialight', sans-serif;
    font-size: 30px;
}
#home-social-btns, #home-next-btn-container {
    text-align: center;
    margin: 60px 0 0px 0;
    width: 100%;
}
#home-social-btns .btn{
    margin:20px 30px 0 30px;
}
#iniciar-con {
    position: relative;
}

/****************************
 **
 **   3. Device Style
 **
 ****************************/
#device{
    background-image: url(../media/instrucciones_back.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
.text-select-device {
    margin: 40px;
}
.text-select-device h2,p{
    margin:0;
}
#device-btns, .interaction-btns{
    text-align: center;
    margin: 60px 0;
    width: 100%;
}
.device-btn, .interaction-btn{
    display: inline-block;
    vertical-align: middle;
    width: 160px;
    position: relative;
    cursor: pointer;
}
.separator {
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    text-align: center;
    margin-right: 15px;
}
.separator img {
    margin: 0 auto;
}
/****************************
 **
 **   4. Mobile steps Style
 **
 ****************************/
#mobile-steps{
    background-image: url(../media/mobile_back.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
#mobile-steps .section-container{
    text-align:center;
    margin: 30px 0;
}
.mobile-step-text {
    width: 24%;
    display: inline-block;
    padding: 0 20px;
    margin: 0 auto;
}
.main-button {
    display: block;
    margin: 60px 0;
}
.numCircle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 4px;
    border: 2px solid #FFF;
    color: #FFF;
    text-align: center;
    font: 19px 'kiamedium', sans-serif;
    display: inline-block;
}
.inlineInstruction {
    display: inline-block;
    font-family: 'kiamedium',sans-serif;
    font-weight: 400;
}
.mobile-step{
    display: block;
    margin: 10px 0;
}
.mobile-step span {
    font-family: 'kialight', sans-serif;
    font-weight: 100;
}
.mobile-step p.input-text {
    width: 250px;
    margin: 0 auto;
    position: relative;
    padding: 7px 0px;
    background-color: rgba(255,255,255,0.2);
}
#mobile-step-1, #mobile-step-2{
    position: relative;
}
@media only screen 
and (min-width : 1024px){
    #mobile-step-1 .mobile-step.input {
        margin-left: 320px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    #mobile-step-1 p.input-text.circle:before {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        content: "";
        background-color: #FFF;
        display: block;
        position: absolute;
        top: 13px;
        left: -4px;
    }
    #mobile-step-2 {
        margin-left: 200px;
    }
    #mobile-step-2 .mobile-step.input {
        margin-left: -300px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    #mobile-step-2 p.input-text.circle:before {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        content: "";
        background-color: #FFF;
        display: block;
        position: absolute;
        top: -5px;
        left: 50%;
    }
}
/****************************
 **
 **   5. Interaction section Style
 **
 ****************************/
#interaction-1-container{
    background-image: url(../media/back_pollo.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
.contador {
    background-image: url(../media/icons/back-contador.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto 56px;
}
.contador h2 {
    line-height: 60px;
    font-size: 30px;
}
/****************************
 **
 **   5. Video Style
 **
 ****************************/

#video-container.section-container{
    display:block;
}
/****************************
 **
 **  6. Responsive
 **
 ****************************/

@media only screen 
and (max-width : 1024px){
    h1{
        font-size: 24px;
    }
    p{
        font-size:16px;   
    }
    .btn {
        display: inline-block;
        margin: 0 15px;
        color: #FFF;
        position:relative;
        cursor: pointer;
    }
    h1 span:before, h1 span:after{
        height: 28px;
    }
    #home-social-btns,#home-next-btn-container {
        text-align: center;
        margin: 15px 0;
        width: 100%;
    }
    .principal-text{
        margin-bottom:20px;
    }
    .section-container{
        vertical-align: top;
        padding-top:8vh;
    }
    .mobile-step-text {
        width: 100%;
        display: block;
        padding: 0px;
    }
    #video-container.section-container{
        padding-top:0;
    }
}